div{
    text-align: center;
    font-family: Poppins-ThinItalic;
    font-size: 18px;
    }


.title{
    font-family: FFF_Tusj;
    font-size: 80px;
    text-shadow: -6px 2px 0 #000;
    background-color:#FFFACD;
    height: 100px;
    text-align: center;
}


  
