div{
    text-align: center;
    font-family: Poppins-ThinItalic;
    font-size: 18px;
    }


.title{
    text-align: center;
    font-family: FFF_Tusj;
    font-size: 75px;
    text-shadow: -3px 3px 0 #000;
    background-color: #4682B4;
    height: 80px;
      }



  
