.div1{
    text-align: center;
    font-family: Poppins-MediumItalic;
    font-size: 18px;
    background-color: #DEB887;
    border: 2px black solid;
    margin-bottom: 2px;
    padding-bottom: 2px;
    }

.div2{
    text-align: left;
    font-family: Poppins-MediumItalic;
    font-size: 18px;
    background-color: #DEB887;
    border: 2px black solid;
    margin-bottom: 2px;
    padding-bottom: 2px;
    }



h1{
    font-family: FFF_Tusj;
    font-size: 80px;
    text-shadow: -6px 2px 0 #000;
    background-color:#FFFACD;
    border: 2px black solid;
    margin-bottom: 2px;
    padding-bottom: 2px;
    height: 100px;
    text-align: center;
}


h2{
    font-family: Poppins-ExtraBold;
    font-size: 40px;
    height: 50px;
    text-align: center;
}


.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
}


#tie {
    font-weight: 500;
}

#tie:hover {
    background: url("../images/tie.jpg");
    float: middle;
    display: block;
    width: 384px;
    height: 308px;
}


img{
    padding: 10px 10px;
}
